{{> nav/nav-block}}

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2 class="mt-4">{{msg}}</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="event-text">Event Name</label>
            <input type="text" id="event-text" class="form-control" aria-describedby="event-text" placeholder="What is your event name?">
          </div>
          <div class="form-group">
            <label for="event-date">Date</label>
            <input type="date" id="event-date" class="form-control" aria-describedby="event-text" placeholder="Enter the event date">
          </div>
          <div class="form-group">
            <label for="event-date">Time</label>
            <input type="time" id="event-time" class="form-control" aria-describedby="event-text" placeholder="Enter the event time">
          </div>
          <div class="form-group">
            <label for="event-loc">Location</label>
            <input type="text" id="event-loc" class="form-control" aria-describedby="event-text" placeholder="Where is the event happening?">
          </div>
          <div class="form-group">
            <label for="event-type">Type</label>
            <select name="type" class="form-control" id="event-type">
              <option value="party">Party</option>
              <option value="party">Party</option>
              <option value="party">Party</option>
              <option value="party">Party</option>
              <option value="party">Party</option>
            </select>
          </div>
          <div class="form-group">
            <label for="event-description">Description</label>
            <textarea class="form-control" id="event-description" aria-describedby="event-description" placeholder="Tell us about it!"></textarea>
          </div>
          <div class="form-group">
            <label for="event-safety">COVID Safety Guidelines</label>
          </div>
          <div class="form-group">
            <input type="checkbox" id="event-safety1" class="form-control" aria-describedby="event-text" placeholder="Safety Guidelines"> Masks Required
          </div>
          <div class="form-group">
            <input type="checkbox" id="event-safety2" class="form-control" aria-describedby="event-text" placeholder="Safety Guidelines"> Hand Sanitizer stations
          </div>
          <div class="form-group">
            <input type="checkbox" id="event-safety3" class="form-control" aria-describedby="event-text" placeholder="Safety Guidelines"> Temperature Checks
          </div>
          <div class="form-group">
            <input type="checkbox" id="event-safety4" class="form-control" aria-describedby="event-text" placeholder="Safety Guidelines"> Sitting areas are 6 feet apart
          </div>
           <div class="form-group">
            <input type="checkbox" id="event-safety5" class="form-control" aria-describedby="event-text" placeholder="Safety Guidelines"> Capactiy limits
          </div>
           <div class="form-group">
            <input type="checkbox" id="event-safety6" class="form-control" aria-describedby="event-text" placeholder="Safety Guidelines"> 6 Feet Apart ground markings
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h4>Events belonging to you:</h4>
        <ul id="event-list" class="list-group">
          {{#each events}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="event/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="/assets/js/event.js"></script>

{{> modal/login-block}}

<script>
  var userId = {{userInfo.id}};
</script>
