{{> nav/nav-block}}

<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Event</h5>
          <p>
            <strong>ID</strong>: {{event.id}}</p>
          <p>
          <p>
            <strong>Name</strong>: {{event.name}}</p>
          <p>
            <strong>Date</strong>: {{event.date}}</p>
          <p>
            <strong>Location</strong>: <a id="location">{{event.location}}</a></p>
          <p>
            <strong>Type</strong>: {{event.type}}</p>
          <p>
            <strong>Description:</strong> {{event.description}}</p>
          <div id="map"></div>
            <a href="/dashboard">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>

{{> modal/login-block}}
