{{> nav/nav-block}}

<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <img class="card-img-top" src="../public/assets/images/{{event.image}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Event</h5>
          <p>
            <strong>Name</strong>: {{event.name}}</p>
          <p>
            <strong>Date</strong>: {{event.date}}</p>
          <p>
            <strong>Location</strong>: {{event.location}}</p>
          <p>
            <strong>Type</strong>: {{event.type}}</p>
          <p>
            <strong>Description:</strong> {{event.description}}</p>
          <p>
            <strong>Safety</strong> {{event.safety}}</p>
            <a href="/dashboard">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>

{{> modal/login-block}}