{{> nav/nav-block}}

<div id="home">
  <div class="container container-media">
    <div class="row">
      <div class="col-8 offset-2">
        <h2 class="mt-4 text-center">{{msg}}</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="event-text">Event Name</label>
            <input type="text" id="event-text" class="form-control" aria-describedby="event-text"
              placeholder="What is your event name?">
          </div>
          <div class="form-group">
            <label for="event-date">Date</label>
            <input type="date" id="event-date" class="form-control" aria-describedby="event-text"
              placeholder="Enter the event date">
          </div>
          <div class="form-group">
            <label for="event-time">Time</label>
            <input type="time" id="event-time" class="form-control" aria-describedby="event-text"
              placeholder="Enter the event time">
          </div>
          <div class="form-group">
            <label for="event-loc">Location</label>
            <div class="input-group">
              <input type="text" id="event-loc" class="form-control" aria-describedby="event-text"
                placeholder="Where is the event happening?">
              <div class="input-group-append">
                <button class="btn btn-light" type="button" id="loc-addon"><i class="fa fa-crosshairs"
                    aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
          {{!-- Type Form --}}
          <div class="form-group">
            <label for="event-type">Type</label>
            <select name="type" class="form-control" id="event-type">
              <option data-img="movie.jpg" value="Movie">Movie</option>
              <option data-img="sports.jpg" value="Sports">Sports</option>
              <option data-img="charity.jpg" value="Fundraiser">Fundraiser</option>
              <option data-img="food-truck.jpg" value="Food & Beverage">Food &amp; Beverage</option>
              <option data-img="festival.jpg" value="Festival">Festival</option>
              <option data-img="art-show.jpg" value="Arts & Crafts">Arts &amp; Crafts</option>
              <option data-img="yoga.jpg" value="Group Exercise/Dance">Group Exercise/Dance</option>
              <option data-img="trivia.jpg" value="Trivia">Trivia</option>
              <option data-img="music.jpg" value="Music">Music</option>
              <option data-img="walk.jpg" value="Walk">Walk</option>
              <option data-img="conference.jpg" value="Conference">Conference</option>
            </select>
          </div>
          <div class="form-group">
            <label for="event-description">Description</label>
            <textarea class="form-control" id="event-description" aria-describedby="event-description"
              placeholder="Tell us about it!"></textarea>
          </div>
          {{!-- Safety Form --}}
          <div class="form-group">
            <label for="event-safety">COVID Safety Guidelines</label>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="form-check">
                <input type="checkbox" id="event-safety1" class="form-check-input" aria-describedby="event-text"
                  value="Outdoor Event" name="safety"> Outdoor Event
              </div>
              <div class="form-check">
                <input type="checkbox" id="event-safety2" class="form-check-input" aria-describedby="event-text"
                  value="Masks Required" name="safety"> Masks Required
              </div>
              <div class="form-check">
                <input type="checkbox" id="event-safety3" class="form-check-input" aria-describedby="event-text"
                  value="Hand Sanitizer Stations" name="safety"> Hand Sanitizer stations
              </div>
              <div class="form-check">
                <input type="checkbox" id="event-safety4" class="form-check-input" aria-describedby="event-text"
                  value="Temperature Checks" name="safety"> Temperature Checks
              </div>
              <div class="form-check">
                <input type="checkbox" id="event-safety5" class="form-check-input" aria-describedby="event-text"
                  value="Sitting Areas 6ft Apart" name="safety"> Sitting areas are 6 feet apart
              </div>
              <div class="form-check">
                <input type="checkbox" id="event-safety6" class="form-check-input" aria-describedby="event-text"
                  value="Capacity Limits" name="safety"> Capactiy limits
              </div>
              <div class="form-check">
                <input type="checkbox" id="event-safety7" class="form-check-input" aria-describedby="event-text"
                  value="Ground Markings for 6ft" name="safety"> 6 Feet Apart ground markings
              </div>
            </div>
          </div>
          <button id="submit" class="btn btn-primary float-right mt-3">Submit</button>
        </form>
        <h4>Events belonging to you:</h4>
        <ul id="event-list" class="list-group">
          {{#each events}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="event/{{this.id}}">{{this.name}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="/assets/js/event.js"></script>
<script src="/assets/js/map.js"></script>

{{> modal/login-block}}

<script>
  var userId = {{ userInfo.id }};
</script>
