{{> nav/nav-block}}

<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title text-center">Business Review</h5>
            <strong>Business</strong>: {{review.title}}</p>
          <p>
            <strong>Date</strong>: {{review.date}}</p>
          <p>
            <strong>Location</strong>: <a id="location">{{review.location}}</a></p> 
          <p>
            <strong>Type</strong>: {{review.type}}</p> 
          <p>
            <strong>Review:</strong> {{review.description}}</p>
          <div id="map"></div>
            <a href="/dashboard"><button type="button" class="btn">← Back To Home</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/assets/js/map.js"></script>
{{> modal/login-block}}
