{{> nav/nav-block}}
<!-- may need to replace all event-text with review-text -->
<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2>{{msg}}</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="review-title">Review Title</label>
            <input type="text" id="review-title" class="form-control" aria-describedby="review-title" placeholder="title">
          </div>
          <div class="form-group">
            <label for="review-loc">Location</label>
            <input type="text" id="review-loc" class="form-control" aria-describedby="review-loc" placeholder="location">
          </div>
          <div class="form-group">
            <label for="event-type">Type</label>
            <select name="type" class="form-control" id="review-type">
<<<<<<< HEAD
              <option value="resturant">Resturant</option>
              <option value="grocery">Grocery Store</option>
              <option value="department">Department Store</option>
              <option value="doctor">Doctor Office</option>
=======
              <option value="restaurant">Restaurant</option>
              <option value="grocery store">Grocery Store</option>
              <option value="department store">Department Store</option>
              <option value="doctor office">Doctor Office</option>
>>>>>>> 5ade1b24eb688f09b1966458df72563595d0f9a9
              <option value="other">Other</option>
            </select>
          </div>
          <div class="form-group">
            <label for="review-description">Description</label>
            <textarea class="form-control" id="review-description" aria-describedby="review-description" placeholder="description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h4>Reviews that belong to this user:</h4>
        <ul id="review-list" class="list-group">
          {{#each reviews}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="review/{{this.id}}">{{this.title}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="/assets/js/review.js"></script>

{{> modal/login-block}}

<script>
  var userId = {{userInfo.id}};
</script>
