{{> nav/nav-block}}

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h2 class="mt-4 text-center">{{msg}}</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="review-title">Business</label>
            <input type="text" id="review-title" class="form-control" aria-describedby="review-title" placeholder="What business did you recently visit?">
          </div>
           <div class="form-group">
            <label for="review-date">Date</label>
            <input type="date" id="review-date" class="form-control" aria-describedby="review-date" placeholder="Enter the review date">  
           </div>
          <div class="form-group">
            <label for="review-loc">Location</label>
            <div class="input-group">
              <input type="text" id="review-loc" class="form-control" aria-describedby="review-loc" placeholder="What city were you in?">
              <div class="input-group-append">
                <button class="btn btn-light" type="button" id="loc-addon"><i class="fa fa-crosshairs" aria-hidden="true"></i></button>
              </div>
            </div>
          </div>
          {{!-- Type Form --}}
          <div class="form-group">
            <label for="review-type">Type</label>
            <select name="type" class="form-control" id="review-type">
              <option value="Restaurant">Restaurant</option>
              <option value="Grocery Store">Grocery Store</option>
              <option value="Department Store">Department Store</option>
              <option value="Doctor Office">Doctor's Office</option>
              <option value="Other">Other</option>
            </select>
          </div>
          <div class="form-group">
            <label for="review-description">Review</label>
            <textarea class="form-control" id="review-description" aria-describedby="review-description" placeholder="Your review of their COVID-19 Safety practices. Were masks required? Was social distancing enforced? Any other special precautions noticed?"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h4>Reviews belonging to you:</h4>
        <ul id="review-list" class="list-group">
          {{#each reviews}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="review/{{this.id}}">{{this.title}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script src="/assets/js/review.js"></script>
<script src="/assets/js/map.js"></script>

{{> modal/login-block}}

<script>
  var userId = {{userInfo.id}};
</script>
